@model IList<OneTrueError.Web.Areas.Admin.Models.Applications.ApplicationViewModel>
@{
    ViewBag.Title = "Admin - Applications";
}
<div class="container">
    <div class="col-lg-6">
        <h2>Applications</h2>
        <p>
            Here you can delete applications, which also will delete all data which have been associated with them.
        </p>
        <table id="applications" class="table table-striped">
            <thead>
                <tr><th>Name</th><th>Options</th></tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            <a class="btn btn-default" href="@Url.Action("Edit", new {id=item.Id})" data-name="@item.Name">Rename</a>
                            <a class="btn btn-danger" href="#@item.Id" data-name="@item.Name">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<form method="post" action="@Url.Action("Delete")" id="delete-form">
    <input type="hidden" name="id" value="" />
</form>
@section scripts{
    <script>
        $('#applications a.btn-danger').click(function (e) {
            e.preventDefault();
            var name = $(this).attr('data-name');
            var id = $(this).attr('href').substr(1);
            if (confirm('Do you really want to deleted "' + name + '"?')) {
                $('#delete-form input').val(id);
                $('#delete-form').submit();
            }
        })
    </script>
}