@using codeRR.Server.Infrastructure.Security
<nav class="topbar">
    <div class="topbar-left text-left pl-4" style="">
        <a href="#/">
            <img src="@Url.Content("~/Content/images/layout/logo.png")" class="hidden-enlarged"/>
            <img src="@Url.Content("~/Content/images/layout/logo_min.png")" class="hidden-not-enlarged"/>
        </a>
    </div>

    <nav class="navbar-custom">

        <ul class="list-inline float-right mb-0">
            <li class="list-inline-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <i class="fa fa-bars" style="font-size: 1.4em"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="Preview">
                    <h6 class="dropdown-header">Personal settings</h6>
                    <a href="#/settings/notifications" class="dropdown-item">
                        <i class="zmdi zmdi-notifications"></i> <span>Notifications</span>
                    </a>

                    <a href="#/settings/personal" class="dropdown-item">
                        <i class="zmdi zmdi-account-box"></i> <span>Personal settings</span>
                    </a>

                    @if (User.IsInRole(CoderrClaims.RoleSysAdmin))
                    {
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Admin settings</h6>
                        <a href="@Url.Action("Application", "Wizard")" class="dropdown-item">
                            <i class="fa fa-file"></i> <span>Create new application</span>
                        </a>
                        <a href="@Url.Content("~/Admin")" class="dropdown-item">
                            <i class="zmdi zmdi-wrench"></i> <span>Admin area</span>
                        </a>
                    }
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">System options</h6>
                    <a href="#support-form-view" data-toggle="modal" data-target="#support-form-view" title="Contact support" id="SupportLink" class="dropdown-item">
                        <i class="zmdi zmdi-help"></i> <span>Contact support</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="@Url.Content("~/account/Logout")" class="dropdown-item notify-item">
                        <i class="zmdi zmdi-power"></i> <span>Logout</span>
                    </a>

                </div>
            </li>
        </ul>
    </nav>
</nav>
