@model codeRR.Server.Web.Models.Wizard.PackagesViewModel
@{
    ViewData["Title"] = "Select nuget package";
    Layout = "_Layout.cshtml";
}
@section css {
    <style>
        html, body {
            height: 90%;
        }

        .footer-4, .navbar {
            display: none;
        }

        .package {
            display: inline-block;
            background: white;
            border: 2px solid #ffffff;
            border-radius: 4px;
            margin: 5px;
            padding: 5px;
        }

            .package > div {
                display: none;
            }

        #description .package > div {
            display: inherit;
        }

        #description {
            width: 100%;
        }

        #instruction-panel.hidden {
            visibility: hidden;
        }

        .package:hover {
            background-color: #eaeaea;
        }
        .package.active:hover {
            background-color: #eaeaea;
        }
        .package.active {
            background-color: #eaeaea;
            border: #cccccc;
        }

    </style>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Configure your application</h1>
            @if (ViewBag.FirstApplication)
            {
                <p>
                    To be able to detect errors and collect contextual information codeRR requires that
                    you install our client library (or that you implement our API).
                </p>
            }
            <p>
                Select the .NET library/framework that you have built your application with.
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (Model.ErrorMessage != null)
            {
                <p class="lead text-danger">@Model.ErrorMessage</p>
            }
            else
            {
                foreach (var package in Model.Packages)
                {
                    <div class="package">
                        <strong>@package.LibraryName</strong>
                        <div>
                            <p>
                                Package:
                                <strong>@package.Id</strong>
                            </p>

                            <input type="hidden" name="LibraryName" value="@package.LibraryName" />
                            @package.Description
                        </div>
                    </div>
                }
            }
            <div class="mt-3">

                <div class="hidden" id="instruction-panel">
                    <form method="post">
                        @Html.HiddenFor(x => x.ApplicationId)
                        <div id="description"></div>
                        <div id="packageId"></div>
                        <hr />
                        <button class="btn btn-primary" type="submit">Configure</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $('.package').hover(function () {
            $('.package').removeClass('active');
            $(this).addClass('active');
            $('#description').html($('div', this).html());
            $('#instruction-panel').removeClass('hidden');
        })
    </script>
}
