@{
    ViewBag.Title = "Tables";
}

<div class="container">
    <div class="col-lg-6">
        <h2>Tables</h2>

        <p>It's time to install all the tables. Keep your fingers crossed and press "Create Tables"</p>

        @if (ViewBag.GotTables)
        {
            <div class="alert alert-info">
                Tables have already been added/updated.
            </div>
            @Html.Raw(ViewBag.PrevLink)
            @Html.Raw(ViewBag.NextLink)
        }
        else
        {
            <form method="post" action="@Url.Action("Tables")">
                @Html.ValidationSummary(true)
                <input type="hidden" name="go" value="yo"/>
                @Html.Raw(ViewBag.PrevLink)
                <input type="submit" class="btn-primary btn" value="Create Tables"/>
                @Html.Raw(ViewBag.NextLink)
            </form>
        }
        @if (ViewBag.GotException)
        {
            <h2>Error details</h2>
            <div>
                <pre>@ViewBag.FullException
</pre>
            </div>
        }
    </div>
</div>