@model IList<codeRR.Server.Web.Areas.Admin.Models.Applications.ApplicationViewModel>
@{
    ViewBag.Title = "Admin - Applications";
}
<div class="container">
    <div class="col-lg-12">
        <h2>Applications</h2>
        <p>
            Here you can delete applications, which also will delete all data which have been associated with them.
        </p>
        <table id="applications" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            <a class="btn btn-outline-primary" href="@Url.Action("Edit", new {id=item.Id})" data-name="@item.Name"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-outline-danger" href="#@item.Id" data-name="@item.Name"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<form method="post" action="@Url.Action("Delete")" id="delete-form">
    <input type="hidden" name="id" value="" />
</form>
@section scripts{
    <script>
        $('#applications a.btn-outline-danger').click(function (e) {
            e.preventDefault();
            var name = $(this).attr('data-name');
            var id = $(this).attr('href').substr(1);
            if (confirm('Do you really want to delete "' + name + '"?')) {
                $('#delete-form input').val(id);
                $('#delete-form').submit();
            }
        })
    </script>
}