@model OneTrueError.Web.Areas.Admin.Models.QueueViewModel
@{
    ViewBag.Title = "Installation - Queues";
}
<div class="container">
    <div class="col-lg-6">

        <h2>Message queues</h2>
        <p>
            To get a bit of separation in the project we are using messaging between different
            concerns in the code. The queues also give you an indication on how busy the system is
            analyzing reports.
        </p>
        <p>We are currently using three different queues.</p>
        <ul>
            <li>A queue to store inbound reports before they are being processed</li>
            <li>A queue to store inbound error descriptions (user feedback)</li>
            <li>A queue for all internally published events.</li>
        </ul>
        <p>
            You currently have two alternatives for this. The first alternative is to use
            MSMQ. In this case you need to configure three MSMQ (<a href="http://github.com/gauffininteractive/onetrueerror/wiki/msmq">a guide</a>) queues for this.
            The other alternative is to use tables in the SQL database, those can be created by this setup.
        </p>
        <p>
            If you want to make sure that all reports are received ASAP at all times we recommend MSMQ queues as
            they are run om the local system they will be processed as long as the server is up (no dependency on the SQL server). By using
            MSMQ you can also configure a monitoring software to have alarms on the queues to see if something goes wrong.
        </p>
        <form method="post" action="@Url.Action("Index")" class="form">
            @Html.ValidationSummary(false)
            <label>
                <input type="checkbox" id="UseSql" name="UseSql" value="true" @(Model.UseSql ? " checked=\"checked\"" : "")/> Use SQL tables.
            </label>
            <hr/>
            <div id="msmq" style="display: none">
                <div class="form-group">
                    <label class="control-label">
                        Report queue
                    </label>
                    @Html.TextBoxFor(x => x.ReportQueue, new {@class = "form-control", placeholder = ".\\private$\\OneTrueError.Reports"})
                    <label>
                        @Html.CheckBoxFor(x => x.ReportAuthentication)
                        Use MSMQ authentication
                    </label>
                    <label>
                        @Html.CheckBoxFor(x => x.ReportTransactions)
                        Use MSMQ transactions
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Feedback queue
                    </label>
                    @Html.TextBoxFor(x => x.FeedbackQueue, new {@class = "form-control", placeholder = ".\\private$\\OneTrueError.Feedback"})
                    <label>
                        @Html.CheckBoxFor(x => x.FeedbackAuthentication)
                        Use MSMQ authentication
                    </label>
                    <label>
                        @Html.CheckBoxFor(x => x.FeedbackTransactions)
                        Use MSMQ transactions
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Event queue
                    </label>
                    @Html.TextBoxFor(x => x.EventQueue, new {@class = "form-control", placeholder = ".\\private$\\OneTrueError.Events"})
                    <label>
                        @Html.CheckBoxFor(x => x.EventAuthentication)
                        Use MSMQ authentication
                    </label>
                    <label>
                        @Html.CheckBoxFor(x => x.EventTransactions)
                        Use MSMQ transactions
                    </label>
                </div>
            </div>
            <br/>
            <input type="submit" class="btn btn-primary" value="Save"/>
        </form>
    </div>
</div>

@section scripts
{
    <script>
        $('#UseSql')
            .click(function(e) {
                $('#msmq').toggle();
            });
        if ($('#UseSql').is(':checked')) {
            $('#msmq').hide();
        }
    </script>
}
