@model codeRR.Server.Web.Models.Account.LoginViewModel
@{
    ViewBag.Title = "Login";
}
<script>
    var IEMinor = false;
</script>
<!--[if lte IE 8]>
    <script>var IEMinor = true</script>
<!--<![endif]-->

<h2 class="display-2">Login</h2>
<form action="@Url.Action("Login")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("ReturnUrl", Request.QueryString["ReturnUrl"])
    <div class="row" id="obsoleteLine" style="display: none">
        <div class="col-lg-12 bg-warning text-white p-3">
            <em>IE8 and below is not supported and will not work.</em>
        </div>
    </div>
    <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" id="Username" placeholder="Username" name="Username" class="form-control" autofocus>
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <div>
            <input type="password" id="Password" placeholder="Password" name="Password" class="form-control">
        </div>
    </div>
    <div class="form-check">
        <label for="RememberMe" class="form-check-label">
            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
            Remember me
        </label>
    </div>
    <div class="form-group">
        <input id="login-button" type="submit" class="btn btn-primary" value="Sign in" />
        <a href="@Url.Content("~/password/request/reset")" class="btn">Reset password</a>
        @if (Model.AllowRegistrations)
        {
            @Html.ActionLink("Register", "Register", null, new { @class = "btn" })
        }
    </div>
</form>

@section scripts
{
    <script type="text/javascript">
        if (IEMinor) {
            document.getElementById('obsoleteLine').style.display = '';
        }
        @if (Request.QueryString["ReturnUrl"] != null)
        {
            <text>
        var value = $('#ReturnUrl').val();
        $('#ReturnUrl').val(value + window.location.hash);
            </text>
        }

    </script>

}
