@model OneTrueError.Web.Areas.Installation.Models.ErrorTrackingViewModel
@{
    ViewBag.Title = "Installation - Error tracking";
}
<div class="container">
    <div class="col-lg-6">

        <h2>Error tracking</h2>
        <p>
            To correct bugs much faster we would like to activate OneTrueError for your installation. All exceptions
            will be uploaded to our own installation for further analysis.
        </p>
        <form method="post" action="@Url.Action("Errors")" style="width: 100%" class="form">
            @Html.ValidationSummary(false)
            <div class="form-group">
                @Html.CheckBoxFor(x => x.ActivateTracking, new {@class = "form-control", style = "display:inline;height:auto;width:inherit;"})
                @Html.LabelFor(x => x.ActivateTracking, new {@class = "control-label"})
                <br/>
                <small>Allow us to track errors.</small>
            </div>
            <div class="form-group disabled suboption">
                @Html.LabelFor(x => x.ContactEmail, new {@class = "control-label"})
                @Html.TextBoxFor(x => x.ContactEmail, new {@class = "form-control", disabled = ""})
                <small>Email address that we may contact if we need any further information (will also receive notifications when your errors have been corrected).</small>
            </div>
            <div class="form-group disabled suboption">
                @Html.LabelFor(x => x.InstallationId, new {@class = "control-label"})
                @Html.TextBoxFor(x => x.InstallationId, new {@class = "form-control", disabled = ""})
                <small>A fixed identity which identifies this specific installation. You can generate a GUID and then store it. Used to identify the number of installations that have the same issue.</small>
                <br/>
                <small>A guid generated for your convencience if you want to enable this feature: @Guid.NewGuid().ToString("N")</small>
            </div>
            <br/>
            @Html.Raw(ViewBag.PrevLink)
            <input type="submit" class="btn btn-primary" value="Save"/>
            @Html.Raw(ViewBag.NextLink)
        </form>
    </div>
</div>
@section scripts
{
    <script>
        $('#ActivateTracking')
            .click(function() {
                if ($('.suboption').is('.disabled')) {
                    $('.suboption').removeClass('disabled');
                    $('.suboption input').prop('disabled', false);
                    $('.suboption label').prop('disabled', false);
                } else {
                    $('.suboption').addClass('disabled');
                    $('.suboption input').prop('disabled', true);
                    $('.suboption label').prop('disabled', true);
                }

            });
        if ($('#ActivateTracking').is(':checked')) {
            $('.suboption').removeClass('disabled');
            $('.suboption input').prop('disabled', false);
            $('.suboption label').prop('disabled', false);
        }
    </script>
}